
/****************************FIN NAVBAR*************************/
/***************************PRESENTATION************************/
div.crsl > .carousel-item {
  padding-top:150px;
  width:100%;
  height:80vh;
}
/***************************FIN PRESENTATION********************/
/****************************BOUTIQUE***************************/

/****************************FIN BOUTIQUE***********************/
/****************************PANIER*****************************/

/****************************FIN PANIER*************************/
/****************************MENTIONS LEGALES*******************/

/****************************FIN MENTIONS LEGALES***************/
